In [2]:
import numpy as np
import pandas as pd

In [3]:
#create product table
li_id=[100,101,102,103,104]
li_name=["Shampoo","Deodorant","Tooth Paste","Soap","Hair gel"]
li_comp=["Pamnteen","Park Avenue","Colgate","Lux","Laureal"]

In [4]:
d1={"product_id":li_id,"product_name":li_name,"company_name":li_comp}

In [5]:
d1

{'product_id': [100, 101, 102, 103, 104],
 'product_name': ['Shampoo', 'Deodorant', 'Tooth Paste', 'Soap', 'Hair gel'],
 'company_name': ['Pamnteen', 'Park Avenue', 'Colgate', 'Lux', 'Laureal']}

In [6]:
product=pd.DataFrame(d1)

In [7]:
product

   product_id product_name company_name
0         100      Shampoo     Pamnteen
1         101    Deodorant  Park Avenue
2         102  Tooth Paste      Colgate
3         103         Soap          Lux
4         104     Hair gel      Laureal

In [8]:
product["price"]=[50,100,150,200,350]

In [9]:
#rename coolumn product_id =pid
product.rename(columns={"product_id":"pi_d"},inplace= True)

In [10]:
product

   pi_d product_name company_name  price
0   100      Shampoo     Pamnteen     50
1   101    Deodorant  Park Avenue    100
2   102  Tooth Paste      Colgate    150
3   103         Soap          Lux    200
4   104     Hair gel      Laureal    350

In [11]:
li_oid=["01","02","03","04","05"]
li_pid=[101,101,103,101,103]
li_units=[30,5,25,10,200]
li_coust=["lifestyle","shopers_stop","spencer","food_bazaar","big_bazaar"]

In [12]:
d2={"oid":li_oid,"pid":li_pid,"no_of_unit":li_units,"coutomer_list":li_coust}

In [13]:
order=pd.DataFrame(d2)

In [14]:
order

  oid  pid  no_of_unit coutomer_list
0  01  101          30     lifestyle
1  02  101           5  shopers_stop
2  03  103          25       spencer
3  04  101          10   food_bazaar
4  05  103         200    big_bazaar

In [37]:
#print the dimention of product
order.shape

(5, 4)

In [18]:
order.columns

Index(['oid', 'pid', 'no_of_unit', 'coutomer_list'], dtype='object')

In [19]:
#print the detail of toothpaste
product[product["product_name"]=="Tooth Paste"]

   pi_d product_name company_name  price
2   102  Tooth Paste      Colgate    150

In [20]:
#print the id of the product odered by shoper stop
order[order["coutomer_list"] == "shopers_stop"]["pid"]

1    101
Name: pid, dtype: int64

In [21]:
#merged = pd.merge(product, order, how="inner", on="p_id")
merged = pd.merge(product, order, how="inner", left_on="pi_d", right_on="pid")

In [22]:
merged

   pi_d product_name company_name  price oid  pid  no_of_unit coutomer_list
0   101    Deodorant  Park Avenue    100  01  101          30     lifestyle
1   101    Deodorant  Park Avenue    100  02  101           5  shopers_stop
2   101    Deodorant  Park Avenue    100  04  101          10   food_bazaar
3   103         Soap          Lux    200  03  103          25       spencer
4   103         Soap          Lux    200  05  103         200    big_bazaar

In [23]:
print(order.columns.tolist())

['oid', 'pid', 'no_of_unit', 'coutomer_list']

In [24]:
#left = pd.merge(product, order, how="left", on="p_id")  karna hai
# both table find product

In [19]:
left=pd.merge(order,how="left",on="pid")

TypeError: merge() missing 1 required positional argument: 'right'

In [20]:
pd.merge(product_name,order,how="Right",on="pid")

NameError: name 'product_name' is not defined